.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app{
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.p-name{
  color: #61dafb;
}
.profile-details{
  margin: 10px;
  margin-left: -10px;
}
.profile-details label{
  font-size: 13px;
  color: #323234;
}
.profile-details label, .profile-details strong{
  display: block;
}
.profile-img{
  border-radius: 1rem;
}
.p-name{
  margin-left: -15px;
}
.container{
  width: 500px;
  height: 5000px;
}